<footer class="container-fluid bg-dark text-secondary mt-auto footer">
    <div class="container2 mx-auto py-5">
        <div class="d-flex justify-content-between align-items-center logo-menu">
            <div class="logo" href="/home">
                <h1 class="titulo">
                    Mery-Lou <br />
                    Bar-Restaurant
                </h1>
            </div>
            <nav class="menu-principal text-white">
                <li>
                    <a href="/home">Home</a>
                </li>
                <li>
                    <a routerLink="/about">Sobre Nosotros</a>

                </li>
                <li>
                    <a href="/enviroment">Entorno, Cultura y Ocio</a>
                </li>
                <li>
                    <a href="/contact">Contacto</a>
                </li>
            </nav>
        </div>
        <div class="redes-sociales text-center mt-5">
            <i class="fa-brands fa-facebook fa-2xl p-4"></i>
            <i class="fa-brands fa-instagram fa-2xl p-4"></i>
        </div>
    </div>
</footer>